/* 按钮 */
.btn { display: inline-block; vertical-align: middle; text-decoration: none; border-radius: 2px; font-size: 1.4rem; }
.btn .icon { vertical-align: middle; margin: -2px 5px 0; }
.btn.disable { background-color: $baseBgB; }
.btn:focus { outline: none; }
.btn-default,
.btn-red,
.btn-green,
.btn-blue,
.btn-white,
.btn-orange,
.btn-purple { display: block; width: 100%; text-align: center; border-radius: 2px; height: 3.8rem; line-height: 3.8rem; border: 1px solid; }
.btn-default { color: $txtColorA; border-color: #d6d6d6; background: $baseBgA;
	@include dpiGet(best) { border: none; position: relative;
		&:before { @include dpiGet(best) { content: " "; position: absolute; width: 199%; height: 199%; border: 1px solid #d6d6d6; -webkit-transform: scale(.5) translate(-50%, -50%); border-radius: 5px; left: 0; top: 0; }
		}
	}
}
.btn-default:active { background-color: #fafafa; }

.btn-red { color: #fff; border-color: #ca001c; background: #de2b2b; }
.btn-red:active { background-color: #ca2828; }

.btn-green { color: white; border-color: #0c9c1e; background: #10b524; }
.btn-green:active { background-color: #0ea020; }

.btn-blue { color: white; border-color: #145fd7; background: #4a87ee; }
.btn-blue:active { background-color: #4274ee; }

.btn-white { color: #666666; border-color: #f0f0f0; background: white; }
.btn-white:active { background-color: #fefefe; }

.btn-orange { color: #fff; border-color: $lineColorI; background: $baseBgI; }
.btn-orange:active { background-color: $baseBgI; }

.btn-link { display:inline-block;padding: 0.5rem; font-size: 1.6rem;line-height: 1.2em; color: $txtColorE; border-radius: 2px;}
.btn-line{display:inline-block;padding: 0.5rem; font-size: 1.6rem;line-height: 1.2em; color: $txtColorE;border:1px solid $lineColorE;border-radius: 2px;}