/*表单*/
.form.intend{padding:0.8rem;}
.form .item-group{ margin-bottom: 1em; }

.form .add-on{min-width: 3.2rem;border:1px solid $lineColorA;border-top-left-radius: 2px;border-bottom-left-radius: 2px;border-right: 0;text-align: center;line-height: 3.8rem;color:$txtColorB;}
form input:not([type="checkbox"]).large,
.form input:not([type="checkbox"]).large,
form textarea.large,
.form textarea.large,
form select.large,
.form select.large,
form .progress.large,
.form .progress.large,
form label.select.large,
.form label.select.large,
form [data-control-progress].large,
.form [data-control-progress].large { font-size: 1.2em }


.form input[type="text"],
.form input[type="password"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="time"],
.form input[type="url"]{ display: inline-block; box-sizing:border-box;width: 100%;height:4rem;line-height: 4rem;padding: 0.5em;-webkit-appearance: none; -webkit-user-select: text; border-width: 1px;border-style: solid;border-color: $lineColorA; }

.prepend input{border-top-right-radius: 2px;border-bottom-right-radius: 2px;}

