/*CARD*/
.card2 {
  overflow: hidden;
}

.card2 .box-col {
  position: relative;
  padding: 7px 0;
  text-align: center;
  display: block;
}

.card2 .mct-s,
.card2 .box-col .icon-font {
  color: #516ea0;
}

.card2 .txt-bottom {
  margin: 4px 0 0 0;
}

.card2 .line-separate:before {
  height: 28px;
  top: 7px;
}

.card2 .box-col > div {
  height: 12px;
}
