@charset "UTF-8";
/*主要处理框架元素的布局*/
.card29 {
  padding: 6px 12px 10px;
}

.card29 .title {
  padding: 0 0 6px 0;
}

.card29 .media-pic {
  text-align: center;
}

.card29 .media-pic img {
  max-width: 100%;
}
