/*CARD*/
.card20 {
  font-size: 0;
}

.card20 .mct-a {
  vertical-align: middle;
}

.card20 .iconimg {
  margin-right: 8px;
}

.card20 .item-box {
  position: relative;
  display: inline-block;
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  height: 34px;
}

.card20 .line-separate:before {
  left: 0;
  top: 10%;
  width: 100%;
  height: 80%;
}

.card20 .line-separate::after {
  left: 4%;
  top: 0;
  width: 92%;
  height: 100%;
}
