/*CARD*/
.card17 {
  font-size: 0;
}

.card17 .layout-box {
  height: 31px;
  line-height: 31px;
}

.card17 .bubble {
  margin: 0 0 0 8px;
  vertical-align: -7px;
  text-align: center;
}

.card17 .item-box {
  position: relative;
  display: inline-block;
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
}

.card17.col-2 .item-box:nth-of-type(2n+1),
.card17.col-3 .item-box:nth-of-type(3n+1),
.card17.col-4 .item-box:nth-of-type(4n+1),
.card17.col-5 .item-box:nth-of-type(5n+1) {
  padding-left: 12px;
}

.card17 .line-separate:before {
  left: 0;
  top: 10%;
  width: 100%;
  height: 80%;
}

.card17 .line-separate::after {
  left: 4%;
  top: 0;
  width: 92%;
  height: 100%;
}
