/*CARD*/
.card19 {
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
  overflow: hidden;
}

.card19 .iconimg {
  margin: 0 0 10px 0;
}

.card19 .item-box {
  position: relative;
  display: inline-block;
  padding: 8px;
  width: 25%;
  box-sizing: border-box;
}

.card19 .item-box .content-main {
  padding: 5px;
  text-align: center;
}
