@charset "UTF-8";
/*Sass基础方法*/
/*flex布局*/
/*处理flex值*/
/*处理flex方向*/
/*处理flex水平对齐方式*/
/*处理flex垂直对齐方式*/
/*线性渐变*/
/*px = dp * (dpi / 160)*/
/*高清屏图片配置*/
/*有下边距的卡片组*/
.card11.type-gap > div {
  margin-bottom: 8px;
}

.card11 > .title {
  margin: 10px 0 5px 12px;
}

.card11 .more-detail {
  height: 38px;
  text-align: center;
  line-height: 38px;
  margin-top: -1px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .card11 .more-detail {
    margin-top: 0;
  }
}

.card11 .more-detail a {
  text-decoration: none;
}

.card11 .more-detail .icon-font-arrow-right {
  margin-left: 3px;
  vertical-align: -2px;
}

/*特殊情况*/
.card11 .card9 {
  margin-bottom: 9px;
}
