/*CARD*/
.card31 .search-box {
  position: relative;
  width: 100%;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  padding: 0 1px 0 3px;
  box-shadow: none;
}

.card31 .search-box .icon-font {
  vertical-align: text-bottom;
}

.card31 .search {
  border: 0;
  height: 22px;
  line-height: 22px;
  vertical-align: top;
  margin: 4px 0 0 3px;
  width: 100%;
  box-sizing: border-box;
}
