.card13 .title-box {
  padding: 8px;
}

.card13 .title {
  padding: 6px 0 12px 0;
}

.card13 .subtitle {
  padding: 0 0 10px;
  border-bottom: 1px dashed #ccc;
}

.card13 .subtitle .from {
  padding: 0 0 0 5px;
}

.card13 .main-content {
  padding: 8px;
  overflow: hidden;
}

.card13 .media-pic {
  text-align: center;
}

.card13 .media-pic img {
  max-width: 100%;
}

.card13 .media-txt {
  padding: 8px 0 0;
  line-height: 18px;
}

.card13 .more-detail {
  height: 38px;
  text-align: center;
  line-height: 38px;
}

.card13 .more-detail .icon-font {
  vertical-align: -1px;
  margin-right: 4px;
}

.card13 .more-detail a {
  text-decoration: none;
}

.card13 .more-detail .icon-font-arrow-down {
  margin-left: 3px;
  vertical-align: middle;
}
