/*MODULE*/
.module-comment .info-bar {
  height: 43px;
  line-height: 43px;
  position: relative;
  z-index: 1;
}

.module-comment .info-bar .line-right:before {
  content: " ";
}

.module-comment .info-txt {
  display: inline-block;
  padding: 0 9px;
  position: relative;
}

.module-comment .comment-box {
  position: relative;
  border: 0;
  background-color: #fcfcfc;
}

.module-comment .comment-list > li:last-child {
  border-bottom: 0;
  background-image: none;
}

.module-comment .comment-list img {
  vertical-align: text-bottom;
}

.module-comment .comment-list .media-graphic {
  padding: 10px;
}

.module-comment .comment-list .mod-media {
  height: 34px;
  margin: 0 12px 0 0;
  padding: 0;
}

.module-comment .media-graphic .item-list {
  padding: 0;
}

.module-comment .comment-list .media-graphic .item-main {
  font-weight: normal;
}

.module-comment .comment-list .media-graphic .item-minor {
  padding: 5px 0 0;
  line-height: 1.25rem;
}

.module-comment .comment-list .media-graphic .item-other .from {
  margin: 0 0 0 5px;
}

.module-comment .media-graphic .operate-box {
  position: relative;
  display: block;
  width: 8px;
  cursor: pointer;
}

.module-comment .operate-box i {
  position: absolute;
  margin: 0;
  top: 0px;
  right: 8px;
}

.module-comment .zero-box {
  padding: 50px 0;
  text-align: center;
}

.module-comment .zero-box .icon-font {
  font-size: 3rem;
  color: #e0e0e0;
}

.module-comment .arrow-up {
  top: 39px;
  left: 50%;
  margin-left: -4px;
}

.module-comment .btn-more {
  line-height: 14px;
  height: 14px;
  overflow: hidden;
  text-align: center;
}
