/*MODULE*/
.module-news .card25 {
  background-color: #fff;
}

.module-news .card25 .item-main {
  line-height: 1em;
  padding-top: 3px;
}

.module-news .card25 .item-minor,
.module-news .card25 .item-other {
  padding: 5px 0 0;
  line-height: 1em;
}

.module-news .card25 .item-single {
  padding-top: 10px;
}

.module-news .plus {
  position: relative;
}

.module-news .plus .bubble-dot-red {
  margin-top: 13px;
  font-size: 9px;
}

.module-news .plus .time {
  position: absolute;
  width: 3rem;
  right: 0;
  top: 7px;
  text-align: right;
}
